.headerClass {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 10px 0px;
  margin-top: 120px;
  width: 100%;
  height: 400px;  
  color: #fff; 
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  background-color: DarkGoldenrod;
  border: 5pc;
  border-color: #4056A1;
  border-radius: 5px
}