article {
  display: flex;
  flex-direction: column;
  font-family: Source Sans Pro, Sans-Serif;
  border: 5px black solid;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-right:  0px;  
  word-wrap: break-word;
}

article:hover {
  box-shadow: 5px 10px #888888;
  text-shadow: 0.2px 0.2px rgb(79, 79, 136);
}


.tweets {
  padding: 20px;
}
.image-class {
  display: flex;
  flex-direction: row;
  justify-content: right;  
  padding-inline: 5px;
}

footer {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;  
  border-top: 5px black solid;
  padding-top: 5px;
  margin: 2%;
}


.fa-solid:hover {
  color:rgb(187, 141, 22);
}

.fas:hover {
  color:rgb(187, 141, 22);
}